body, html {
    height: 100%;
}

:root{
    --whitd-cell: 8vw;
    --heigth-cell: 8vw;
}

body {
    margin: 0;
    overflow: hidden;
}

.cell-black {
    display: inline-block;
    width: var(--whitd-cell);
    height: var(--heigth-cell);
    background-color: black;
    border: solid 1px black;
}

.cell-white {
    display: inline-block;
    width: var(--whitd-cell);
    height: var(--heigth-cell);
    border: solid 1px black;
}

.cell-row {
    display: flex;
    
}

.main-class {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@media (min-width: 560px){

    :root{
        --whitd-cell: 4vw;
        --heigth-cell: 4vw;
    }

}

@media (min-width: 900px){

    :root{
        --whitd-cell: 5vw;
        --heigth-cell: 5vw;
    }


}

